

/* tablet & mobile */
@media (max-width: 992px) {
    .userIcon {
        display: none !important;
    }
    /* Botão de navegação */
    .navbar-toggler {
        border-color: white !important;
        background-color: transparent;
        margin-left: auto;
        margin-right: 0.5em;
        border-radius: 20px;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
    /* background navbar */
    .navbar {
        background: linear-gradient(90deg, #ffff 150px, #17043F 80%);
    }

    .logo__formulae {
        width: 140px;
    }
}

@media (min-width: 992px) {
    .navbar {
        background: linear-gradient(90deg, #ffff 100px, #17043F 300px);
    }
    .nav-item {
        margin: 0 2em 0 2em !important;
    }
    .logo__formulae {
        width: 180px;
    }
    .userIcon {
        width: 50px;
        margin-right: 2em;
    }
    .nav-item a{
        color: white !important;
    }
}